   .swiper {
    width: 100%;
    height: 70%;
    color: white;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .swiper-button-next,
  .swiper-button-prev {
  color: white; 
}


  .content{
    width: 50%;
    height: 100%;
    
    /* background-color: red; */
    margin-left: 13%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .content h6{
    font-size: 9px;
  }
  .Swipe-Btn{
    width: 100px;
    height: 25px;
    background-color:transparent;
    opacity: 1;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
   

  }
  @media screen and (max-width: 768px) {
    .swiper {
      height: 50%;
    }
  
    .swiper-slide {
      font-size: 16px;
    }
  
    .swiper-slide img {
      object-fit: contain;
    }
  
    .content {
      width: 80%;
      margin-left: 10%;
      text-align: start;
      justify-content: center;
    }
  
    .content h6 {
      font-size: 8px;
    }
  
    .Swipe-Btn {
      width: 80px;
      height: 20px;
      font-size: 12px;
    }
  }